<div class="author">
    <h1 class="author__heading">
        hi welcome !
    </h1>
    <p class="author__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et metus fringilla, tincidunt lorem a, porta ligula. Curabitur a justo erat.</p>
</div>
<img src="/img/accc.png" class="hero-image" alt="hero">
<section class="articles">
    <h2 class="articles__heading"><b>latest articles</b></h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createAt.toDateString(); %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination"> &lt; view older articles</a>
    <% } %>
    
</section>